#hero {
    background-image: url('../../assets/bg.png');
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 56px);
}
#hero h1 {
    color: #22223b;
    font-size: 3.5em !important;
}

.HeroButton {
    color: #fff;
    background-color: #22223b;
}

.HeroButton:hover {
    color: #fff;
    background-color: #4a4e69;
}
